@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat:400,500,600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #5C5C5C;
}

img.background {
    position: fixed;
    top: 0;
    height: 100%;
    right: 0;
    z-index: -1;
}

h1 {
    font-size: 3em;
    font-family: 'Lobster', cursive;
    color: #CB3C83;
}

p {
    font-size: 0.9em;
}

.dark {
    color: white
}

/*Bootstrap modifications*/
.navbar-nav>li {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.navbar-custom {
    background-color: rgba(255, 255, 255, 0);
    margin-right: 1%;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    transition: 0.4s ease;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    border-bottom: 0px solid transparent;
    width:0%;
    padding: 10px 0;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    border-bottom: 3px solid white;
    padding: 7px 0px;
    font-size: 1.05em;
    width:100%
}
