@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat:400,500,600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #5C5C5C;
}

img.background {
    position: fixed;
    top: 0;
    height: 100%;
    right: 0;
    z-index: -1;
}

h1 {
    font-size: 4em;
    font-family: 'Lobster', cursive;
    color: #CB3C83;
}

p {
    font-size: 0.9em;
}

h6 {
    color: #CB3C83;
    font-weight: 600;
}

.dark {
    color: white
}


#social-media {
    height: 40px;
    margin: 0 8px;
}

#typeit {
    padding-top: 10%;
    margin-bottom: 8%;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    #typeit {
        background-color: #CB3C83;
        padding-bottom: 50px;
        margin-top: 10%;
    }

    .navbar-custom {
        background-color: #CB3C83;
        margin-bottom: 10%;
    }

    h1 {
        font-size: 3em;
    }

    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: white;
    }

    #profile{
        height:200px;
    }

}

/* Small devices */
@media (min-width: 576px) and (max-width: 767px) {
    #typeit {
        background-color: #CB3C83;
        padding-bottom: 50px;
        margin-top: 10%;
    }

    h1 {
        font-size: 3em;
    }

    .navbar-custom {
        background-color: #CB3C83;
        margin-bottom: 2%;
    }

    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: white;
    }

    #profile {
        height: 200px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    #typeit {
        background-color: #CB3C83;
        padding-bottom: 50px;
        margin-top: 7%;
        padding-left: 8%;
    }

    .navbar-custom {
        background-color: #CB3C83;
        margin-bottom: 3%;
        margin-right: -15px;
    }

    #name-description {
        padding-left: 8%;
    }

    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: white;
    }

    #profile {
        height: 300px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-custom {
        background-color: rgba(255, 255, 255, 0);
        margin-right: 1%;
        margin-bottom: 2%;
    }

    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: white;
    }


    #profile {
        height: 350px;
    }
}

/*Bootstrap modifications*/
.navbar-nav>li {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    font-weight: 600;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    transition: 0.4s ease;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    border-bottom: 0px solid transparent;
    width: 0%;
    padding: 10px 0;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    border-bottom: 3px solid white;
    padding: 7px 0px;
    font-size: 1.05em;
    width: 100%
}